body {
  font-family: "Arial", sans-serif;
  background-color: #030303;
  margin: 0;
  padding: 40px 0;
  text-align: center;
}

.lyrics-container {
  margin-top: 20px;
  height: 80vh;
  overflow: scroll;
}

.lyrics-container::-webkit-scrollbar {
  display: none;
}

.lyrics-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
    align-items: center;
}

.lyrics-item {
  width: fit-content;
  color: #f2f2f2;
  font-size: 20px;
  margin: 10px 0;
  list-style-type: none;
  transition: all 0.3s;
}

.lyrics-item:not(.active) {
  opacity: 0.7;
}

.lyrics-item.active {
  font-size: 25px;
  font-weight: bold;
}
/* test */
